.flujo {
display: flex;
flex-direction: row; 
flex-wrap: wrap;
}
.contened {
    background-color: var(--DarkGrey);
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    width: auto; 
    height: auto;
    border-radius: 10px;  
    margin-bottom: 35px; 
    justify-content:space-around;
}

@media (min-width: 1440px) {
  .flujo{
    flex-direction: row;
  }
    .contened {
        flex-direction: row; 
        overflow: auto;
        max-width:222px;
        max-height: 150px; 
        height: auto; 
    }
  
  button{
      width: 80%;
  }
  }