.contenedor {
    background-color: var(--DarkGrey);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:auto;
    height: auto;
    overflow: auto;
    border-radius: 10px;  
    margin-bottom: 35px;   
    align-content:flex-start;
    justify-content:space-around;
}

@media (min-width: 1440px) {
    .contenedor {
        max-width: auto;
        max-height: auto;
   
        margin-bottom: 0px; 
    }
  
  button{
      width: 90%;
  }
  
  }