.informacion-extra {
  margin-top: 1px; 
  padding: 1rem;
  background-color: var(--DarkGrey); 
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.episode-info {
  width: 48%; 
  margin-bottom: 20px;
  background-color: darkgray;
  padding: 0.5rem; 
  box-sizing: border-box;
}

.episode-info p {
  font-size: 0.875rem; 
  color: black;
  line-height: 1.2;
}
