.informacion-extra {
  margin-top: 1px; 
  padding: 1rem;
  background-color: var(--DarkGrey); 
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.episode-info {
  width: 200px; 
  margin-bottom: 20px;
  background-color: darkgray;
  padding: 10px; 
  box-sizing: border-box;
}

.episode-info p {
  font-size: 15px; 
  color: black;
  line-height: 1.2;
}
h4{
  color: orange;
}
