.detall {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.avat {
  margin-right: 1.rem;
}

.avat img {
  height: auto; 
  width:7rem; 
}
.text {
  display: flex;
  flex-direction: column;
  justify-content: row; 
}

.text h2 {
  font-size: 11px; 
  color: var(--White);
  margin: 2px; 
  text-align: center; 
}

.text h3 {

  font-size: 8px;
  color: var(--Green);
  margin: 5px;
  text-align: center; 
}

.text p {
  font-size: 7px; 
  color: var(--White);
  margin: 8px; 
  text-align: center; 
}