body
{
    background-color: var(--OffBlack);
    margin: 0 ;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;

}

.botones
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    height: 60%;
    width: 100%;
    padding: 0px 0px 10px 0px;
}
button
{
    background-color: var(--Grey);
    border: none;
    width: 85%;
    border-radius: 7px;
    color: var(--White);  
    padding: 13px 0px 13px 0px;
    font-weight: 700;
}


:root
{
        --White: hsl(0, 0%, 100%);
        --Grey: hsl(0, 0%, 20%);
        --DarkGrey: hsl(0, 0%, 12%);
        --OffBlack: hsl(0, 0%, 8%);
        --Green: hsl(75, 94%, 57%);
}
button:hover {
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 12%);
    cursor: pointer;
}
@media (min-width: 1440px) {
  .contenedor
{
    width: 450px;    
    height: 600px;
}

button{
    width: 80%;
}
}